In [374]:
import pandas as pd

**Series and DataFrames**

In [375]:
s = pd.Series([10, 20, 30, 40, 50], index = ['a', 'b', 'c', 'd', 'e'])

print(s)

print(s.index)
print(s.values)
print(s[['a','c']])

a    10
b    20
c    30
d    40
e    50
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[10 20 30 40 50]
a    10
c    30
dtype: int64

In [376]:
# Create a Series representing marks of 5 students.

s1 = pd.Series([90, 83, 67, 81, 79])

In [377]:
# Create a Series using dictionary data of city and temperature.

dict1 = {'Lahore':38, 'Karachi':32, 'Islamabad':29}
s2 = pd.Series(dict1)

In [378]:
# Access the 1st and 3rd elements using index.

print(s1[[0,2]])

print(s2[['Lahore', 'Islamabad']])

0    90
2    67
dtype: int64
Lahore       38
Islamabad    29
dtype: int64

In [429]:
# Add 10 to all values using .apply() or vectorized ops.

newS1 = s1+10
print(f"Added 10: \n{newS1}")

Added 10:
Amal1    100
Amal2     93
Amal3     77
Amal4     91
Amal5     89
dtype: int64

In [380]:
# Change the index to student names.

s1.index = ['Amal1', 'Amal2', 'Amal3', 'Amal4', 'Amal5']

print(s1)

Amal1    90
Amal2    83
Amal3    67
Amal4    81
Amal5    79
dtype: int64

In [381]:
data = {
    'Name':['Amal', 'Mahnoor', 'Mateen', 'Sahar'],
    'Age':[21,23,25,27],
    'Gender':['F', 'F', 'M', 'F']
}

df = pd.DataFrame(data)
print(df)

      Name  Age Gender
0     Amal   21      F
1  Mahnoor   23      F
2   Mateen   25      M
3    Sahar   27      F

In [382]:
print(df['Name'])

print(df[['Age', 'Gender']])

df.index

0       Amal
1    Mahnoor
2     Mateen
3      Sahar
Name: Name, dtype: object
   Age Gender
0   21      F
1   23      F
2   25      M
3   27      F

RangeIndex(start=0, stop=4, step=1)

In [383]:
# Create a DataFrame of 4 students with columns: Name, Math, Science.

data1 = {
    'Name':['Amal', 'Mahnoor', 'Mateen', 'Sahar'],
    'Math':[95, 83, 57, 79],
    'Science': [78, 94, 68, 85]
}

df1 = pd.DataFrame(data1)

In [384]:
# Access only the Math column.

df1['Math']

0    95
1    83
2    57
3    79
Name: Math, dtype: int64

In [385]:
# Change the name of the column Science to Physics.

df1.rename(columns={'Science':'Physics'})

      Name  Math  Physics
0     Amal    95       78
1  Mahnoor    83       94
2   Mateen    57       68
3    Sahar    79       85

In [386]:
# Create a DataFrame of 5 employees with Name, Age, Salary columns.

data2 = {
    'Name':['Amal', 'Mahnoor', 'Mateen', 'Sahar', 'Sadaf'],
    'Age':[21, 25, 25, 37, 52],
    'Salary':[10000, 25000, 51000, 32000, 67000]
}

df2 = pd.DataFrame(data2)

# Access just the Salary column.

print(df2['Salary'])

# Retrieve the data of the 3rd employee.

print(df2.iloc[2])

0    10000
1    25000
2    51000
3    32000
4    67000
Name: Salary, dtype: int64
Name      Mateen
Age           25
Salary     51000
Name: 2, dtype: object

In [387]:
# Add a new column Department with arbitrary values.

df2['Department'] = ['ML', 'UI/UX', 'ML', 'Finance', 'UI/UX']

# Add a new column Bonus that is 10% of the salary.

df2['Bonus'] = df2['Salary'] * 0.1

print(df2)

# Select only those employees who are older than 30 and earn more than 50k.

df2[(df2['Age'] > 30) & (df2['Salary'] > 50000)]

      Name  Age  Salary Department   Bonus
0     Amal   21   10000         ML  1000.0
1  Mahnoor   25   25000      UI/UX  2500.0
2   Mateen   25   51000         ML  5100.0
3    Sahar   37   32000    Finance  3200.0
4    Sadaf   52   67000      UI/UX  6700.0

    Name  Age  Salary Department   Bonus
4  Sadaf   52   67000      UI/UX  6700.0

In [388]:
# Rename column Salary to Base_Salary and Bonus to Year_End_Bonus

df2.rename(columns={'Salary':'Base Salary', 'Bonus':'End-Year Bonus'})

# Drop all rows where Salary < 30,000.

df2.drop(df2[df2['Salary'] < 30000].index)

# Sort DataFrame by Age descending, then by Salary ascending.

sortedDF = df2.sort_values(by=['Age', 'Salary'], ascending=[False, True])
print(sortedDF)

      Name  Age  Salary Department   Bonus
4    Sadaf   52   67000      UI/UX  6700.0
3    Sahar   37   32000    Finance  3200.0
1  Mahnoor   25   25000      UI/UX  2500.0
2   Mateen   25   51000         ML  5100.0
0     Amal   21   10000         ML  1000.0

Reading and Writing Data

In [389]:
# Read .csv file

df = pd.read_csv('products-100.csv')

In [390]:
# Print first 3 rows

df.head(3)

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2091465262179,ForestGreen,Large,pre_order,56
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5286196620740,Black,8x10 in,in_stock,29
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1282898648918,SlateGray,XS,in_stock,70

In [391]:
# Select only 'Name' and 'Price' from .csv

df3 = pd.read_csv('products-100.csv', usecols=['Name', 'Price'])

df3.head(3)

                                   Name  Price
0  Compact Printer Air Advanced Digital    265
1                                Tablet    502
2                  Smart Blender Cooker    227

In [392]:
# Load a CSV file and skip the first 2 rows. Set the ProductID column as the index.

df4 = pd.read_csv('products-100.csv', skiprows = [1,2], index_col = 'Internal ID')

df4.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability
Internal ID,,,,,,,,,,,,
70,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1282898648918,SlateGray,XS,in_stock
31,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3879177514583,PaleGreen,L,discontinued
10,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9055773261265,SeaShell,100x200 mm,discontinued
60,6,Radio,Character prove growth contain serious customer.,"Benjamin, Nelson and Hancock",Skincare,426,USD,549,1150028980156,CornflowerBlue,30x40 cm,pre_order
86,7,Ultra Projector Oven Thermostat Prime Advanced,Pattern possible look necessary indicate work ...,"Mccoy, Waters and Rose",Laptops & Computers,68,USD,870,5029747624534,Purple,S,discontinued

In [393]:
# Q1. Custom Import with Filtering
# You have a CSV file orders.csv with columns: OrderID, CustomerName, City, Amount, Date.

# Task:

# Read the file while:

# Setting OrderID as the index.

# Only loading columns CustomerName, City, Amount.

# Skipping the first 2 rows.

# Reading only first 10 records.

df = pd.read_csv('orders.csv', index_col='OrderID', usecols= ['OrderID', 'CustomerName', 'City', 'Amount'], skiprows=[1,2])

print(df.head(10))
# Print the shape and datatypes of the resulting DataFrame.

print(f"\nShape: {df.shape}\n")
print(f"Datatype: {df.dtypes}")

        CustomerName          City  Amount
OrderID
1003         Matthew      New York  231.19
1004           Brian      San Jose  440.13
1005       Cassandra       Chicago  712.08
1006         Jessica      San Jose  353.25
1007           Ricky   Los Angeles  703.35
1008            Jill   Los Angeles  292.40
1009         Melinda     San Diego  436.27
1010            Juan   Los Angeles  802.53
1011           Amber  Philadelphia  206.32
1012          Ashley  Philadelphia  608.94

Shape: (48, 3)

Datatype: CustomerName     object
City             object
Amount          float64
dtype: object

In [430]:

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

print(df)

df = df.drop('Name', axis=1)

df.to_csv('updated.csv', index=False)

x = pd.read_csv('updated.csv')

print('\n')
print(x)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago


   Age         City
0   25     New York
1   30  Los Angeles
2   35      Chicago

In [395]:
# 🔸 Q2. Excel Import Challenge
# You have an Excel file sales_data.xlsx containing multiple sheets: January, February, March.

# Task:

# Read only the February sheet.

df = pd.read_excel('sales_data.xlsx', sheet_name = 'February')


# Extract the rows where Region == 'East'.

newDF = df[df['Region'] == 'East']

print(newDF.head())

# Save this filtered data to a new sheet in filtered_sales.xlsx called East_February.

newExcel = newDF.to_excel('filtered_sales.xlsx', sheet_name = 'East_February', index=False)

# seeFile = pd.read_excel('filtered_sales.xlsx', sheet_name = 'East_February')

# print(seeFile.head())

        Date Region  Product  Sales
2 2023-02-03   East    Phone    990
5 2023-02-06   East   Tablet    249
8 2023-02-09   East  Monitor    138

In [396]:
newExcel = df.to_excel('salesCheck.xlsx', index=False)

load = pd.read_excel('salesCheck.xlsx')

print(load.equals(df))

True

In [397]:
# 🔸 Q8. Selective Column Import + Rename
# You are given a file data.csv with 20 columns.

# Task:

# Load only columns 0, 2, 5, 7 by index number.

df = pd.read_csv('data.csv', usecols = [0, 2, 5, 7])

# Rename these columns to: Customer, Region, Sales, Discount.

df = df.rename(columns = {'Column_0':'Customer', 'Column_2':'Region', 'Column_5':'Sales', 'Column_7':'Discount'})

print(df.head())

# Save this trimmed and renamed dataset to cleaned_data.csv.

df.to_csv('cleaned_data.csv', index=False)

  Customer Region   Sales  Discount
0    Aaron   East  596.64      0.12
1    Debra   West  376.93      0.25
2     Eric  South  260.26      0.43
3   Shelby   East  943.67      0.35
4   Rachel  South  442.79      0.39

 Data Exploration & Basic Operations in Pandas

In [398]:
# Load products-100.csv and print:

df = pd.read_csv('products-100.csv')


# Number of rows and columns

print(f"Rows: {df.index}")
print(f"Columns: {df.columns}")


# First 7 rows

print(df.head(7))


# List of all column names

print(f"\nColumns: {list(df.columns)}")


# Print:

# Data types of each column

print("\n", df.dtypes)


# Number of non-null entries

print(df.info())


# Summary statistics of numeric columns

print(df.describe())

Rows: RangeIndex(start=0, stop=100, step=1)
Columns: Index(['Index', 'Name', 'Description', 'Brand', 'Category', 'Price',
       'Currency', 'Stock', 'EAN', 'Color', 'Size', 'Availability',
       'Internal ID'],
      dtype='object')
   Index                                            Name  \
0      1            Compact Printer Air Advanced Digital
1      2                                          Tablet
2      3                            Smart Blender Cooker
3      4                    Advanced Router Rechargeable
4      5                    Portable Mouse Monitor Phone
5      6                                           Radio
6      7  Ultra Projector Oven Thermostat Prime Advanced

                                         Description  \
0      Situation organization these memory much off.
1        Discussion loss politics free one thousand.
2                                  No situation per.
3                    For force gas energy six laugh.
4  Feeling back religious however author room sci...
5   Character prove growth contain serious customer.
6  Pattern possible look necessary indicate work ...

                          Brand             Category  Price Currency  Stock  \
0       Garner, Boyle and Flynn   Books & Stationery    265      USD    774
1                   Mueller Inc     Shoes & Footwear    502      USD     81
2    Lawson, Keller and Winters   Kitchen Appliances    227      USD    726
3            Gallagher and Sons   Kitchen Appliances    121      USD    896
4                     Irwin LLC       Kids' Clothing      1      USD    925
5  Benjamin, Nelson and Hancock             Skincare    426      USD    549
6        Mccoy, Waters and Rose  Laptops & Computers     68      USD    870

             EAN           Color        Size  Availability  Internal ID
0  2091465262179     ForestGreen       Large     pre_order           56
1  5286196620740           Black     8x10 in      in_stock           29
2  1282898648918       SlateGray          XS      in_stock           70
3  3879177514583       PaleGreen           L  discontinued           31
4  9055773261265        SeaShell  100x200 mm  discontinued           10
5  1150028980156  CornflowerBlue    30x40 cm     pre_order           60
6  5029747624534          Purple           S  discontinued           86

Columns: ['Index', 'Name', 'Description', 'Brand', 'Category', 'Price', 'Currency', 'Stock', 'EAN', 'Color', 'Size', 'Availability', 'Internal ID']

 Index            int64
Name            object
Description     object
Brand           object
Category        object
Price            int64
Currency        object
Stock            int64
EAN              int64
Color           object
Size            object
Availability    object
Internal ID      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         100 non-null    int64
 1   Name          100 non-null    object
 2   Description   100 non-null    object
 3   Brand         100 non-null    object
 4   Category      100 non-null    object
 5   Price         100 non-null    int64
 6   Currency      100 non-null    object
 7   Stock         100 non-null    int64
 8   EAN           100 non-null    int64
 9   Color         100 non-null    object
 10  Size          100 non-null    object
 11  Availability  100 non-null    object
 12  Internal ID   100 non-null    int64
dtypes: int64(5), object(8)
memory usage: 10.3+ KB
None
            Index      Price       Stock           EAN  Internal ID
count  100.000000  100.00000  100.000000  1.000000e+02   100.000000
mean    50.500000  451.19000  545.710000  4.876267e+12    49.340000
std     29.011492  281.60911  266.716863  2.918084e+12    28.078253
min      1.000000    1.00000   10.000000  5.246382e+08     3.000000
25%     25.750000  230.75000  347.500000  2.062323e+12    25.000000
50%     50.500000  407.50000  575.500000  4.875720e+12    48.000000
75%     75.250000  679.00000  749.250000  7.676943e+12    74.500000
max    100.000000  999.00000  998.000000  9.921752e+12    99.000000

In [399]:
# Load employee.csv

df = pd.read_csv('employee.csv')

# Find:

# How many unique job titles exist?

print(f"Unique Job Titles: {df['Department'].nunique()}")


# Most common department?

print(f"Most Common Dept: {df['Department'].value_counts().idxmax()}")


# How many missing values in Salary?
print(f"Missing Values in Salary: {df['Salary'].isnull().sum()}\n")


# Print all rows where Age is above the 75th percentile.

percentile75 = df['Age'].quantile(0.75)

print(df[df['Age'] > percentile75])

# Top 3 highest earners.

df = df.sort_values(by='Salary', ascending=False)

print('\n', df.head(3))

Unique Job Titles: 3
Most Common Dept: IT
Missing Values in Salary: 1

   EmpID   Name  Age   Salary  JobTitle Department
3    104  Diana   40  80000.0  Director      Admin

    EmpID   Name  Age   Salary  JobTitle Department
3    104  Diana   40  80000.0  Director      Admin
1    102    Bob   30  60000.0   Manager         HR
4    105  Ethan   28  55000.0  Engineer         IT

In [400]:

# Analyze a sales.csv file:

df = pd.read_csv('sales.csv')

# What are the top 3 regions by total sales amount?

df.sort_values(by='Amount', ascending=False).head(3)

# What's the mean, median, and standard deviation of the Amount column?

print(f"Mean: {df['Amount'].mean()}")
print(f"Median: {df['Amount'].median()}")
print(f"Std Dev: {df['Amount'].std()}")

# Find the record(s) with maximum amount spent.

print(df.sort_values(by='Amount', ascending=False).head(1))

Mean: 390.0
Median: 450.0
Std Dev: 108.39741694339399
  InvoiceID Region  Amount Customer
3      A004   West     500     Sara

PD Basic Operations Task

In [401]:
# Step 1: Load the Data

# Load employee_data.csv using Pandas

empData = pd.read_csv('employee_data.csv')


# Display the first 5 rows

print(empData.head())


# Check the number of rows and columns

print(f"\nRows: {empData.index}")
print(f"\nColumns: {empData.columns}")

   EmpID     Name   Age Gender Department   Salary    JoinDate       Location
0    101    Alice  25.0      F      Sales  55000.0  2019-04-01       New York
1    102      Bob  38.0      M         IT  75000.0  2017-08-15  San Francisco
2    103  Charlie   NaN      M         HR      NaN  2020-01-01        Chicago
3    104    David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles
4    105      Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco

Rows: RangeIndex(start=0, stop=7, step=1)

Columns: Index(['EmpID', 'Name', 'Age', 'Gender', 'Department', 'Salary', 'JoinDate',
       'Location'],
      dtype='object')

In [402]:
# Step 2: Understand the Structure

# Print:
# Column names

print(f"Column Names: {list(empData.columns)}")


# Index Type

print(f"\nIndex Type: {empData.index}")


# Data types of all columns

print('\nColumn Datatypes')
print(empData.dtypes)


# Memory usage

print(f"\nMemory Usage:\n{empData.memory_usage()}")

Column Names: ['EmpID', 'Name', 'Age', 'Gender', 'Department', 'Salary', 'JoinDate', 'Location']

Index Type: RangeIndex(start=0, stop=7, step=1)

Column Datatypes
EmpID           int64
Name           object
Age           float64
Gender         object
Department     object
Salary        float64
JoinDate       object
Location       object
dtype: object

Memory Usage:
Index         132
EmpID          56
Name           56
Age            56
Gender         56
Department     56
Salary         56
JoinDate       56
Location       56
dtype: int64

In [403]:
# Step 3: Descriptive Statistics

# Use .describe() to show summary stats for numeric columns.

print("Summary Statistics (Numerical Columns)")
print(empData.describe())


# Also describe categorical columns.

print("\nSummary Statistics (Categorical Columns)")
print(empData.describe(include='object'))

Summary Statistics (Numerical Columns)
            EmpID        Age        Salary
count    7.000000   5.000000      5.000000
mean   104.000000  33.600000  64400.000000
std      2.160247   7.924645  14010.710189
min    101.000000  25.000000  48000.000000
25%    102.500000  29.000000  55000.000000
50%    104.000000  31.000000  62000.000000
75%    105.500000  38.000000  75000.000000
max    107.000000  45.000000  82000.000000

Summary Statistics (Categorical Columns)
         Name Gender Department    JoinDate  Location
count       7      7          7           7         7
unique      7      2          4           7         4
top     Alice      M      Sales  2019-04-01  New York
freq        1      4          2           1         2

In [404]:
# Step 4: Missing & Null Values

# Identify:

# Which columns have missing data?

print(f"Missing Value Columns: {list(empData.columns[empData.isnull().sum() > 0])}\n")


# How many missing values in each?

print(empData.isnull().sum())


# Show all rows where any column is null.

print('\nRows with Null:')
print(empData[empData.isnull().any(axis=1)])

Missing Value Columns: ['Age', 'Salary']

EmpID         0
Name          0
Age           2
Gender        0
Department    0
Salary        2
JoinDate      0
Location      0
dtype: int64

Rows with Null:
   EmpID     Name  Age Gender Department  Salary    JoinDate Location
2    103  Charlie  NaN      M         HR     NaN  2020-01-01  Chicago
6    107    Grace  NaN      F         HR     NaN  2019-03-15  Chicago

In [405]:
# Step 5: Unique & Frequency Counts

# How many unique departments are there?

print(f"Unique Departments: {empData['Department'].nunique()}")


# What are the most common locations and genders? highest freq of locs

print(f"\nMost Common Location: {empData['Location'].value_counts().idxmax()}")
print(f"Most Common Gender: {empData['Gender'].value_counts().idxmax()}\n")


# How many employees have salary > 60,000?

print(f"Employees with Salary > 60,000: {len(empData[empData['Salary'] > 60000])}")

Unique Departments: 4

Most Common Location: New York
Most Common Gender: M

Employees with Salary > 60,000: 3

In [406]:
# Step 6: Filters & Insights

# List employees older than 40.

print(f"Employees over 40: \n{empData.loc[empData['Age']>40, ['Name', 'Age']]}")


# Find top 4 highest salaries.

print('\nHighest Salaries: ')
print(empData.sort_values(by='Salary', ascending=False).head(4)[['Name', 'Salary']])


# List employees who joined before 2018.

print("\nEmployees who joined before 2018:")
print(empData.loc[pd.to_datetime(empData['JoinDate']) < pd.to_datetime('2018-01-01'), ['Name', 'JoinDate']])


# List all employees in the "Sales" department earning over 60,000.

print('Employees in Sales & earning over 60,000:')
cond1 = (empData['Department'] == 'Sales')
cond2 = empData['Salary'] > 60000

print(empData[(cond1 & cond2)])

Employees over 40:
  Name   Age
4  Eva  45.0

Highest Salaries:
    Name   Salary
4    Eva  82000.0
1    Bob  75000.0
5  Frank  62000.0
0  Alice  55000.0

Employees who joined before 2018:
    Name    JoinDate
1    Bob  2017-08-15
4    Eva  2015-09-01
5  Frank  2016-11-23
Employees in Sales & earning over 60,000:
   EmpID   Name   Age Gender Department   Salary    JoinDate  Location
5    106  Frank  31.0      M      Sales  62000.0  2016-11-23  New York

In [407]:
# Step 7: Data Summary Report

# Create a printed summary that includes:

# Number of employees

print(f"Number of Employees: {len(empData)}\n")


# Number of departments

print(f"Number of Departments: {empData['Department'].nunique()}\n")


# Number of missing values

print(f"Number of Missing Values: {empData.isnull().sum().sum()}\n")


# Average and median salary

print(f"Average Salary: {empData['Salary'].mean()}\n")
print(f"Median Salary: {empData['Salary'].median()}\n")


# Highest-paid employee name and salary

print(f"Highest Paid Employee: \n{empData.sort_values(by='Salary', ascending=False).head(1)[['Name', 'Salary']]}")

Number of Employees: 7

Number of Departments: 4

Number of Missing Values: 4

Average Salary: 64400.0

Median Salary: 62000.0

Highest Paid Employee:
  Name   Salary
4  Eva  82000.0

Data Cleaning

In [432]:
# Load the CSV and:

eData = pd.read_csv('messy_employee_data.csv')
print(eData)

# Count missing values in each column.

print(f"\nMissing Values:\n {eData.isnull().sum()}\n")

# Drop all rows with missing Age.

eData = eData.dropna(subset='Age')

# Replace missing Salary with average salary.

eData['Salary'] = eData['Salary'].fillna(eData['Salary'].mean())

    EmpID     Name    Age Gender Department   Salary    JoinDate  \
0      101    Alice  25.0      F      Sales  55000.0  2019-04-01
1      102      Bob  38.0      M         it      NaN  2017-08-15
2      103  Charlie   NaN      M         HR  75000.0  2020-01-01
3      104    David  29.0      M  Marketing  48000.0  2018-05-10
4      105      Eva  45.0      F         IT  82000.0  2015-09-01
5      106    Frank  31.0      M     sales   62000.0  2016-11-23
6      107    Grace   NaN      F         HR      NaN  2019-03-15
7      105      Eva  45.0      F         IT  82000.0  2015-09-01

        Location
0       New York
1  San Francisco
2        Chicago
3    Los Angeles
4  San Francisco
5       New York
6        Chicago
7  San Francisco

Missing Values:
  EmpID        0
 Name         0
Age           2
Gender        0
Department    0
Salary        2
JoinDate      0
Location      0
dtype: int64

2

In [409]:
# Convert the JoinDate column to datetime type.
eData['JoinDate'] = pd.to_datetime(eData['JoinDate'])

# Find and remove all duplicate rows.

print("Duplicate rows after dropping rows with missing age:")
print(eData.duplicated())

print("\nDataFrame after dropping duplicate rows:")
eData.drop_duplicates(inplace=True)
print(eData)

# Standardize Department values (e.g., convert all to title case).

eData['Department'] = eData['Department'].str.strip().str.title().replace('It', 'IT')

print(f"\nDataFrame after standardizing 'Department' values: \n{eData}")

Duplicate rows after dropping rows with missing age:
0    False
1    False
3    False
4    False
5    False
7     True
dtype: bool

DataFrame after dropping duplicate rows:
    EmpID   Name    Age Gender Department   Salary   JoinDate       Location
0      101  Alice  25.0      F      Sales  55000.0 2019-04-01       New York
1      102    Bob  38.0      M         it  65800.0 2017-08-15  San Francisco
3      104  David  29.0      M  Marketing  48000.0 2018-05-10    Los Angeles
4      105    Eva  45.0      F         IT  82000.0 2015-09-01  San Francisco
5      106  Frank  31.0      M     sales   62000.0 2016-11-23       New York

DataFrame after standardizing 'Department' values:
    EmpID   Name    Age Gender Department   Salary   JoinDate       Location
0      101  Alice  25.0      F      Sales  55000.0 2019-04-01       New York
1      102    Bob  38.0      M         IT  65800.0 2017-08-15  San Francisco
3      104  David  29.0      M  Marketing  48000.0 2018-05-10    Los Angeles
4      105    Eva  45.0      F         IT  82000.0 2015-09-01  San Francisco
5      106  Frank  31.0      M      Sales  62000.0 2016-11-23       New York

In [410]:
# Strip whitespace from column names.

eData.columns = eData.columns.str.strip()

# Rename all columns to lowercase.

eData.columns = eData.columns.str.lower()

print(f"After whitespace removal and lower case conversion: \n{eData.columns}")

# Export as a clean csv

eData.to_csv('cleaned_employee_data.csv', index=False)

After whitespace removal and lower case conversion:
Index(['empid', 'name', 'age', 'gender', 'department', 'salary', 'joindate',
       'location'],
      dtype='object')

Data Selection and Filtering

In [411]:
# Load csv file

dfEmp = pd.read_csv('cleaned_employee_data.csv')

# Select only the Name and Department columns.

print(dfEmp[['name', 'department']])

# Get the first 3 rows using:

   # Standard slicing

print(f"\nFirst 3 Rows (Slicing): \n{dfEmp[:3]}")

   # iloc

print(f"\nFirst 3 Rows (iloc): \n{dfEmp.iloc[:3]}")

    name department
0  Alice      Sales
1    Bob         IT
2  David  Marketing
3    Eva         IT
4  Frank      Sales

First 3 Rows (Slicing):
   empid   name   age gender department   salary    joindate       location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
2    104  David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles

First 3 Rows (iloc):
   empid   name   age gender department   salary    joindate       location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
2    104  David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles

In [412]:
# Get all employees who:

# Work in the IT department

print(f"Employees working in IT Dept: \n{dfEmp[dfEmp['department'] == 'IT']['name']}")

# Earn more than 70,000

print(f"\nEmployees earning more than 70,000: \n{dfEmp[dfEmp['salary'] > 70000][['name', 'salary']]}")

# Get names and salaries of employees who joined after 2018.

print(f"\nEmployees who joined after 2018: \n{dfEmp.loc[pd.to_datetime(dfEmp['joindate']) > pd.to_datetime('2018-12-31'), ['name', 'joindate']]}")

# Return rows where Age is either 25, 29, or 31 using isin().

print(f"\nAge either 25, 29 or 31: \n{dfEmp[dfEmp['age'].isin([25, 29, 31])]}")

Employees working in IT Dept:
1    Bob
3    Eva
Name: name, dtype: object

Employees earning more than 70,000:
  name   salary
3  Eva  82000.0

Employees who joined after 2018:
    name    joindate
0  Alice  2019-04-01

Age either 25, 29 or 31:
   empid   name   age gender department   salary    joindate     location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01     New York
2    104  David  29.0      M  Marketing  48000.0  2018-05-10  Los Angeles
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23     New York

In [413]:
# Using .loc, extract:

# Rows 1 to 3 and only Name, Salary, JoinDate columns

print("Rows 1 to 3 and only Name, Salary, JoinDate columns")
print(dfEmp.loc[1:3][['name', 'salary', 'joindate']])

# Using .iloc, extract the last 3 rows of the DataFrame.

print("\nLast 3 rows of the DataFrame")
print(dfEmp.iloc[-3::])

# Filter all employees not in Sales or Marketing departments.

print("\nAll employees not in Sales or Marketing departments.")
print(dfEmp[~dfEmp['department'].isin(['Sales', 'Marketing'])])

# Using .query(), extract employees:
# From New York who earn more than 60k

print("\nEmployees from New York who earn more than 60k")
print(dfEmp.query('location == "New York" and salary > 60000'))

Rows 1 to 3 and only Name, Salary, JoinDate columns
    name   salary    joindate
1    Bob  65800.0  2017-08-15
2  David  48000.0  2018-05-10
3    Eva  82000.0  2015-09-01

Last 3 rows of the DataFrame
   empid   name   age gender department   salary    joindate       location
2    104  David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles
3    105    Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York

All employees not in Sales or Marketing departments.
   empid name   age gender department   salary    joindate       location
1    102  Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
3    105  Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco

Employees from New York who earn more than 60k
   empid   name   age gender department   salary    joindate  location
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23  New York

Data Manipulation (Sorting and Indexing)

In [414]:
# Load CSV File

dfEmp = pd.read_csv('cleaned_employee_data.csv')

# Sort by Salary in descending order.

print("\nSorting by Salary in Descending Order")
print(dfEmp.sort_values(by='salary', ascending=False))

Sorting by Salary in Descending Order
   empid   name   age gender department   salary    joindate       location
3    105    Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York
2    104  David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles

In [415]:
# Sort by Department and then by Salary (highest to lowest within each department).

print("Sorting by Department, then Salary:")
print(dfEmp.sort_values(by=['department', 'salary'], ascending=[True, False]))

# Set EmpID as the index and access the row with EmpID 105.

dfEmp.set_index('empid', inplace=True)
print("\nAccessing row with EmpID 105:")
print(dfEmp.loc[105])

# Reset the index back to default.

dfEmp.reset_index(inplace=True)

Sorting by Department, then Salary:
   empid   name   age gender department   salary    joindate       location
3    105    Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
2    104  David  29.0      M  Marketing  48000.0  2018-05-10    Los Angeles
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York

Accessing row with EmpID 105:
name                    Eva
age                    45.0
gender                    F
department               IT
salary              82000.0
joindate         2015-09-01
location      San Francisco
Name: 105, dtype: object

In [416]:
# Create a multi-index using both Department and Location, then:
# Access all employees in the IT department in San Francisco.

dfEmp.set_index(['department', 'location'], inplace=True)
print("All employees in the IT department in San Francisco")
print(dfEmp.loc[('IT', 'San Francisco')])

# After setting a custom index, sort the DataFrame based on the index values.

print("\nSorting based on Index:")
print(dfEmp.sort_index())

All employees in the IT department in San Francisco
                          empid name   age gender   salary    joindate
department location
IT         San Francisco    102  Bob  38.0      M  65800.0  2017-08-15
           San Francisco    105  Eva  45.0      F  82000.0  2015-09-01

Sorting based on Index:
                          empid   name   age gender   salary    joindate
department location
IT         San Francisco    102    Bob  38.0      M  65800.0  2017-08-15
           San Francisco    105    Eva  45.0      F  82000.0  2015-09-01
Marketing  Los Angeles      104  David  29.0      M  48000.0  2018-05-10
Sales      New York         101  Alice  25.0      F  55000.0  2019-04-01
           New York         106  Frank  31.0      M  62000.0  2016-11-23

/tmp/ipython-input-416-1400936379.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(dfEmp.loc[('IT', 'San Francisco')])

GroupBy and Aggregation

In [417]:
# Load CSV File

dfGB = pd.read_csv('cleaned_employee_data.csv')

# Group data by Department and calculate the average Salary.

print("Average Salary of Each Department:")
print(dfGB.groupby('department')['salary'].mean())

# Count the number of employees in each department.

print("\nNo. of Employees in Each Department:")
print(dfGB.groupby('department').size())

Average Salary of Each Department:
department
IT           73900.0
Marketing    48000.0
Sales        58500.0
Name: salary, dtype: float64

No. of Employees in Each Department:
department
IT           2
Marketing    1
Sales        2
dtype: int64

In [418]:
# Find the minimum, maximum, and mean Age per Department.

print(f"Min, Max and Mean Age per Department:")
print(dfGB.groupby('department')['age'].agg(['min', 'max', 'mean']))

# For each Location, compute the total salary paid.

print("\nTotal Salary Paid per Location:")
print(dfGB.groupby('location')['salary'].sum())

# How many employees exist for each combination of Department and Gender?

print("\nEmployees for each combination of Department and Gender:")
print(dfGB.groupby(['department', 'gender']).size())

Min, Max and Mean Age per Department:
             min   max  mean
department
IT          38.0  45.0  41.5
Marketing   29.0  29.0  29.0
Sales       25.0  31.0  28.0

Total Salary Paid per Location:
location
Los Angeles       48000.0
New York         117000.0
San Francisco    147800.0
Name: salary, dtype: float64

Employees for each combination of Department and Gender:
department  gender
IT          F         1
            M         1
Marketing   M         1
Sales       F         1
            M         1
dtype: int64

In [419]:
# Group by Department and return:

# Mean of Salary

print("Mean Salary per Department:")
print(dfGB.groupby('department')['salary'].agg('mean'))

# Max of JoinDate

print("\nMax Join-Date per Department:")
print(dfGB.groupby('department')['joindate'].agg('max'))

# Total Salary

print("\nTotal Salary per Department:")
print(dfGB.groupby('department')['salary'].sum())

# Number of employees

print("\nTotal Employees per Department:")
print(dfGB.groupby('department')['empid'].size())

# Median Age

print("\nMedian Age per Department:")
print(dfGB.groupby('department')['age'].agg('median'))

Mean Salary per Department:
department
IT           73900.0
Marketing    48000.0
Sales        58500.0
Name: salary, dtype: float64

Max Join-Date per Department:
department
IT           2017-08-15
Marketing    2018-05-10
Sales        2019-04-01
Name: joindate, dtype: object

Total Salary per Department:
department
IT           147800.0
Marketing     48000.0
Sales        117000.0
Name: salary, dtype: float64

Total Employees per Department:
department
IT           2
Marketing    1
Sales        2
Name: empid, dtype: int64

Median Age per Department:
department
IT           41.5
Marketing    29.0
Sales        28.0
Name: age, dtype: float64

In [420]:
# Group by Department and Gender, and filter groups where the average salary is greater than 70,000.

meanSalary = dfGB.groupby(['department', 'gender'])['salary'].agg('mean')

print("Groups (by dept & gender) where avg salary is greater that 70,000:")
print(meanSalary[meanSalary > 70000])

Groups (by dept & gender) where avg salary is greater that 70,000:
department  gender
IT          F         82000.0
Name: salary, dtype: float64

Queries & Filtering after groupby()

In [421]:
# Load CSV File

dfFil = pd.read_csv('cleaned_employee_data.csv')

# Use .filter() to keep only departments that have 2 or more employees.

print('Departments with 2 or more employees:')
print(dfFil.groupby('department').filter(lambda x: len(x) >= 2))

# Use .query() to select only rows where Salary > 60000.

print('\nEmployees with Salary > 60000:')
dfFil.query('salary > 60000')

Departments with 2 or more employees:
   empid   name   age gender department   salary    joindate       location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
3    105    Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York

Employees with Salary > 60000:

   empid   name   age gender department   salary    joindate       location
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
3    105    Eva  45.0      F         IT  82000.0  2015-09-01  San Francisco
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York

In [422]:
# Use .filter() to keep only departments where the average age is less than 35.

print("Departments where avg age is less than 35:")
print(dfFil.groupby('department').filter(lambda x: x['age'].mean() < 35))

# Use .query() with multiple conditions: Select rows where Salary > 50000 and Age < 40.

print("\nRows where Salary > 50000 and Age < 40:")
print(dfFil.query('salary > 50000 and age < 40'))

Departments where avg age is less than 35:
   empid   name   age gender department   salary    joindate     location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01     New York
2    104  David  29.0      M  Marketing  48000.0  2018-05-10  Los Angeles
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23     New York

Rows where Salary > 50000 and Age < 40:
   empid   name   age gender department   salary    joindate       location
0    101  Alice  25.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  38.0      M         IT  65800.0  2017-08-15  San Francisco
4    106  Frank  31.0      M      Sales  62000.0  2016-11-23       New York

In [423]:
# Perform a groupby on 'Department', calculate total salary, and filter to keep only departments where total salary > 130000.

sal = dfFil.groupby('department')['salary'].sum().reset_index()
print("Departments where Total Salary > 130000")
print([sal[sal['salary'] > 130000]])

# Combine .groupby(), .agg(), and .query() to find departments where:

# Average Salary > 60000
# Average Age < 40

Departments where Total Salary > 130000
[  department    salary
0         IT  147800.0]

In [424]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian'],
    'Department': ['Sales', 'IT', 'HR', 'Marketing', 'IT', 'Sales', 'HR', 'Marketing', 'IT'],
    'Age': [25, 38, 28, 29, 45, 31, 24, 41, 36],
    'Salary': [55000, 75000, 58000, 48000, 82000, 62000, 60000, 51000, 77000]
})


# Keep only departments with more than 1 employee
print(df.groupby('Department').filter(lambda x: len(x) > 1))

# Keep departments where average age < 35

print("\n", df.groupby('Department').filter(lambda x: x['Age'].mean() < 35)['Department'])

      Name Department  Age  Salary
0    Alice      Sales   25   55000
1      Bob         IT   38   75000
2  Charlie         HR   28   58000
3    David  Marketing   29   48000
4      Eva         IT   45   82000
5    Frank      Sales   31   62000
6    Grace         HR   24   60000
7    Helen  Marketing   41   51000
8      Ian         IT   36   77000

 0    Sales
2       HR
5    Sales
6       HR
Name: Department, dtype: object

Applying Functions and Lambda

In [425]:
# Load CSV File

dfFun = pd.read_csv('cleaned_employee_data.csv')

# Add 5 years to every employee's Age using .apply().

print("Adding 5 years to every employee's age:")
dfFun['age'] = dfFun['age'].apply(lambda x: x + 5)
print(dfFun)

# Capitalize all department names using .map() or .apply().

print("\nCapitalizing all department names:")
dfFun['department'] = dfFun['department'].apply(lambda x: x.capitalize())
print(dfFun)

Adding 5 years to every employee's age:
   empid   name   age gender department   salary    joindate       location
0    101  Alice  30.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  43.0      M         IT  65800.0  2017-08-15  San Francisco
2    104  David  34.0      M  Marketing  48000.0  2018-05-10    Los Angeles
3    105    Eva  50.0      F         IT  82000.0  2015-09-01  San Francisco
4    106  Frank  36.0      M      Sales  62000.0  2016-11-23       New York

Capitalizing all department names:
   empid   name   age gender department   salary    joindate       location
0    101  Alice  30.0      F      Sales  55000.0  2019-04-01       New York
1    102    Bob  43.0      M         It  65800.0  2017-08-15  San Francisco
2    104  David  34.0      M  Marketing  48000.0  2018-05-10    Los Angeles
3    105    Eva  50.0      F         It  82000.0  2015-09-01  San Francisco
4    106  Frank  36.0      M      Sales  62000.0  2016-11-23       New York

In [426]:
# Change Gender to a Numerical Represenation (0/1)

dfFun['gender'] = dfFun['gender'].map({'M':0, 'F':1})

print(dfFun)

   empid   name   age  gender department   salary    joindate       location
0    101  Alice  30.0       1      Sales  55000.0  2019-04-01       New York
1    102    Bob  43.0       0         It  65800.0  2017-08-15  San Francisco
2    104  David  34.0       0  Marketing  48000.0  2018-05-10    Los Angeles
3    105    Eva  50.0       1         It  82000.0  2015-09-01  San Francisco
4    106  Frank  36.0       0      Sales  62000.0  2016-11-23       New York

In [427]:
# Create a new column SalaryCategory:

# "High" if salary > 70,000

# "Medium" if salary between 40,000 and 70,000

# "Low" otherwise

def salCategory(s):
  if s > 70000:
    return 'High'

  elif (s > 40000) | (s < 70000):
    return 'Medium'

  else:
    return 'Low'

dfFun['SalaryCategory'] = dfFun['salary'].apply(salCategory)

print(dfFun)

# For each row, calculate the difference between Salary and Age.

print("\nDifference Between Salary and Age:")
print(dfFun.apply(lambda row: row['salary'] - row['age'], axis=1))

   empid   name   age  gender department   salary    joindate       location  \
0    101  Alice  30.0       1      Sales  55000.0  2019-04-01       New York
1    102    Bob  43.0       0         It  65800.0  2017-08-15  San Francisco
2    104  David  34.0       0  Marketing  48000.0  2018-05-10    Los Angeles
3    105    Eva  50.0       1         It  82000.0  2015-09-01  San Francisco
4    106  Frank  36.0       0      Sales  62000.0  2016-11-23       New York

  SalaryCategory
0         Medium
1         Medium
2         Medium
3           High
4         Medium

Difference Between Salary and Age:
0    54970.0
1    65757.0
2    47966.0
3    81950.0
4    61964.0
dtype: float64

In [428]:
# Write a custom function to flag employees as "Senior" if Age >= 50 and Salary > 80,000.

def seniorCheck(emp):

  if (emp['age'] >= 50) & (emp['salary'] > 80000):
    return 'Senior'
  else:
    return 'Not Senior'

dfFun['SeniorFlag'] = dfFun[['age', 'salary']].apply(seniorCheck, axis=1)
print("SeniorFlag")
print(dfFun['SeniorFlag'])

# Using apply() on rows, calculate a score like:

print("\nScore: (Age * 0.5) + (Salary / 10000)")
print(dfFun.apply(lambda x: (x['age'] * 0.5) + (x['salary']/1000), axis=1))

SeniorFlag
0    Not Senior
1    Not Senior
2    Not Senior
3        Senior
4    Not Senior
Name: SeniorFlag, dtype: object

Score: (Age * 0.5) + (Salary / 10000)
0     70.0
1     87.3
2     65.0
3    107.0
4     80.0
dtype: float64