### Load Dataset

In [1]:
import pandas as pd
import numpy as np

In [81]:
data = pd.read_csv('Salaries.csv', low_memory=False)

#### 1.  Display Top 10 Rows of The Dataset

In [45]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [46]:
data['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

In [83]:
len(data)

148654

In [82]:
# data['BasePay'] = data['BasePay'].astype('float')

# data['BasePay'] = data['BasePay'].replace()

# data.dropna()
# 
# data['TotalPay'].dtype

data.dropna().groupby(['JobTitle', 'Status'])['TotalPay'].agg('mean')

Series([], Name: TotalPay, dtype: float64)

In [ ]:
a = data.dropna()

#### 2. Check Last 10 Rows of The Dataset

In [4]:
data.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

#### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
data.shape

(148654, 13)

#### 4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

#### 5. Check Null Values In The Dataset

In [26]:
data.isnull().sum()

EmployeeName        148654
JobTitle            148654
BasePay             148654
OvertimePay         148654
OtherPay            148654
Benefits            148654
TotalPay            148654
TotalPayBenefits    148654
Year                148654
dtype: int64

#### 6. Drop ID, Notes, Agency, and Status Columns

In [8]:
data.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1, inplace=True)

In [42]:
# data.drop(data[])

data.drop([1, 3], axis=0)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.0,182234.59,NaN,326373.19,326373.19,2011
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.0,189082.74,NaN,316285.74,316285.74,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

#### 7. Get Overall Statistics About The Dataframe

In [9]:
data.describe()

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

#### 8. Find Occurrence of The Employee Names  (Top 5)

In [10]:
data['EmployeeName'].value_counts().head(5)

EmployeeName
Kevin Lee       13
William Wong    11
Richard Lee     11
Steven Lee      11
John Chan        9
Name: count, dtype: int64

#### 9. Find The Number of Unique Job Titles

In [11]:
data['JobTitle'].nunique()

2159

#### 10. Total Number of Job Titles Contain Captain

In [12]:
len(data[data['JobTitle'].str.contains('captain', case=False)])

552

#### 11. Display All the Employee Names From Fire Department

In [13]:
data[data['JobTitle'].str.contains('fire', case=False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

#### 12. Find Minimum, Maximum, and Average BasePay

In [14]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [15]:

data['BasePay'] = data['BasePay'].replace("Not Provided", np.nan)
data['BasePay'].astype(float).describe()

count    148045.000000
mean      66325.448840
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: BasePay, dtype: float64

#### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [16]:
data['EmployeeName'] = data['EmployeeName'].replace('Not Provided', np.nan)

#### 14. Drop The Rows Having 5 Missing Values

In [17]:
# None

#### 15. Find Job Title of ALBERT PARDINI

In [18]:
data[data['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

#### 16. How Much ALBERT PARDINI Make (Include Benefits)?

In [19]:
data[data['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

#### 17.Display Name of The Person Having The Highest BasePay

In [20]:
maxBasePay = data['BasePay'].astype(float).max()

data[data['BasePay'].astype(float) == maxBasePay]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

#### 18. Find Average BasePay of All Employee Per Year

In [21]:
data['BasePay'] = pd.to_numeric(data['BasePay'])
data.groupby('Year')['BasePay'].mean()
# print(avg_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### 19. Find Average BasePay of All Employee Per JobTitle

In [43]:
data.groupby('JobTitle')['BasePay'].agg('sum')

JobTitle
ACCOUNT CLERK                                     3593966.94
ACCOUNTANT                                         233215.86
ACCOUNTANT INTERN                                 1379167.87
ACPO,JuvP, Juv Prob (SFERS)                         62290.78
ACUPUNCTURIST                                       66374.40
                                                     ...
X-RAY LABORATORY AIDE                             1239284.10
X-Ray Laboratory Aide                             4608638.71
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      52609.91
Youth Comm Advisor                                 156311.83
ZOO CURATOR                                         43148.00
Name: BasePay, Length: 2159, dtype: float64

#### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [23]:
print(data[data['JobTitle'] == 'ACCOUNTANT']['BasePay'].mean())

46643.172

#### 21. Find Top 5 Most Common Jobs

In [24]:
data['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64